<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
    <style>

        h1, h3, p {
            text-align: center;
        }

        h1 {
            color: rgb(0, 129, 198);
        }

        .code {
            font-weight: bold;
            letter-spacing: 1.5px;
            color: rgb(34, 139, 34);
        }

        .footer {
            margin-top: 16px;
            letter-spacing: 1.5px;
            font-style: italic;
        }

        .warning {
            color: rgb(220, 53, 69);
            font-weight: bold;
        }

    </style>
</head>
<body>
<div>
    <h1>BlackNuster</h1>

    <h2>Restablecimiento de Contraseña</h2>

    <p>Hemos recibido una solicitud para restablecer tu contraseña. Tu código de restablecimiento es:</p>

    <p class="code">${code}</p>

    <p>Si no solicitaste restablecer tu contraseña, por favor <span class="warning">ignora este email</span>.</p>

    <p>Este código será válido por solo 15 minutos.</p>

    <p class="footer">--- Equipo de BlackNuster ---</p>
</div>
</body>
</html>
